html{
    background-color: black;
    color: white;
}
#board{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;   
}
#box{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto; 
}
#button{
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1{
    text-align: center;
}
.piece{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 5px;
}
.queen{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 7px;
    margin: 3px;
    border-color: gold;
}
.square{
    width: 50px;
    height: 50px;
}
.brown{
    background-color: brown;
}
.gray{
    background-color: gray;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
